APP_ENV=local
APP_VERSION=local

PORT=8094

BASE_DOMAIN=localhost:8094

CONFIG_SSM_PARAM_NAME=/namespace/env/manual-approval/lambda_config
MANUAL_APPROVAL_REQUEST_TABLE_NAME=manual_approval_request

SNS_TOPIC_ARN=TODO
